<div class="nav"
  <%= link_to "main", "/mobile" %> &gt; about 
</div>


<% content_for :head do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<% end %>

<div class="info" style="background-color:white">

  <p>This application is free and open source.  It uses data formatted
  according to the 
  <a href="http://code.google.com/transit/spec/transit_feed_specification.html">
  General Transit Feed Specification</a>, and was adapted from
  <a href="http://openmbta.org">OpenMBTA</a> to suit other transit agencies.</p>

  <p>To read more about the OpenMBTA mission in developing the majority of
  this applcation, <a href="http://openmbta.org/about/mobile_version">click
  here</a>.

  <%= render :partial => 'home/credits' %>

  <p>
  <!--
  For more information, and to submit bug reports and feedback, please visit
  <a href="http://openmbta.org">http://openmbta.org</a>. -->
  </p>
</div>
